* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border {
  border: 1px solid black;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
  color: red;
}

/* Main  */
header {
  width: 100vw;
  height: 70px;
}

main {
  width: 100vw;
  height: calc(100vh - 70px);
}

.nav-t {
  width: 100%;
  height: 70px;
  background-color: #F8F9FA;
  position: fixed;
}

.side-bar-t {
  background-color: #051E34;
  width: 65px;
  height: 100%;
  background-image: url(../img/sidebar-bg.png);
  color: white;
}

.content {
  width: calc(100vw - 65px);
  height: calc(100%);
}

/* Nav  */
.nav-t input {
  background-color: #E5E5E5;
}

.nav-t img {
  margin-top: 5px;
  margin-left: 10px;
}

.utility ul {
  list-style: none;
}

.utility ul li {
  margin: 0 10px;
}

.utility ul li i {
  line-height: 35px;
}

.container-t .row .logo img {
  width: 40px;
}

.search-t {
  padding-top: 15px;
}

/* Side-bar  */

.side-up {
  width: 100%;
  height: calc(100% - 80px);
  padding-top: 30px;
  position: relative;
}

.side-up ul {
  list-style: none;
  position: absolute;
  left: -25px;
}

.side-up ul li {
  padding: 5px 15px;
}

.side-up ul li span {
  padding: 0 15px;
}

.side-up ul a {
  color: white;
}

.side-up li:hover {
  border: 1px solid white;
  background-color: rgba(211, 211, 211, 0.951);
}

.side-down {
  width: 100%;
  height: 80px;
  position: relative;
}

.side-down .setting {
  padding: 10px 18px;
  margin: 0 6px;
  position: absolute;
}

.side-down a i {
  color: white;
}

.side-down .setting span {
  padding: 0 18px;
}

.side-down .setting:hover {
  border: 1px solid white;
  background-color: rgba(211, 211, 211, 0.951);
}

/* Media query  */

@media screen and (min-width: 768px) {
  .side-bar-t {
    width: 150px;
  }
  .content {
    width: calc(100vw - 150px);
  }
}