* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border {
  border: 1px solid black;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

/* Main  */
header {
  width: 100vw;
  height: 70px;
}

main {
  width: 100vw;
  height: calc(100vh - 70px);
}

.nav-t {
  width: 100%;
  height: 70px;
  background-color: #F8F9FA;
  position: fixed;
  z-index: 999;
}

.side-bar-t {
  background-color: #051E34;
  width: 65px;
  height: 100%;
  background-image: url(../img/sidebar-bg.png);
  color: white;
}

.content {
  width: calc(100% - 65px);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Nav  */
.nav-t input {
  background-color: #E5E5E5;
}

.nav-t img {
  margin-top: 5px;
  margin-left: 10px;
}

.utility ul {
  list-style: none;
}

.utility ul li {
  margin: 0 10px;
}

.utility ul li i {
  line-height: 35px;
}

.container-t .row .logo img {
  width: 40px;
}

.search-t {
  padding-top: 15px;
}

/* Side-bar  */

.side-up {
  width: 100%;
  height: calc(100% - 80px);
  padding-top: 30px;
  position: relative;
}

.side-up ul {
  list-style: none;
  position: absolute;
  left: -25px;
}

.side-up ul li {
  padding: 5px 15px;
}

.side-up ul li span {
  padding: 0 15px;
}

.side-up ul a {
  color: white;
}

.side-up li:hover {
  border: 1px solid white;
  background-color: rgba(211, 211, 211, 0.951);
}

.side-down {
  width: 100%;
  height: 80px;
  position: relative;
}

.side-down .setting {
  padding: 10px 18px;
  margin: 0 6px;
  position: absolute;
}

.side-down a i {
  color: white;
}

.side-down .setting span {
  padding: 0 18px;
}

.side-down .setting:hover {
  border: 1px solid white;
  background-color: rgba(211, 211, 211, 0.951);
}

/* Content  */
.content .bar {
  background-color: #1C72E8;
}

.content .row h2 {
  color: white;
}

.content .first span {
  color: white;
  font-size: 12px;
  padding: 2px 10px;
  background-color: #165BBA;
  border-radius: 20px;
}

.content .first span.plus {
  padding: 2px 8px;
  border-radius: 50%;
}

.chevron i {
  font-size: 14px;
  color: white;
}

.chevron i:last-child {
  margin-left: -4px;
}

.content span {
  color: white;
}

.content .second h2 {
  padding-top: 15px;
}

/* Table  */

table tr {
  font-size: 13px;
}

table td .code {
  background-color: red;
  padding: 2px;
  border-radius: 50%;
}

table td button i {
  font-size: 12px;
}

.resize-t {
  width: 100% !important;
}

/* Media query  */

@media screen and (min-width: 768px) {
  .side-bar-t {
    width: 150px;
  }
  .content {
    width: calc(100vw - 150px);
  }

  table td:first-child {
    width: 50%;
  }

  .resize-t {
    width: 50% !important;
  }
}
